<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" routerLink="/">
          <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-clinic-medical me-2"></i>Medinova</h1>
      </a>

      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
          aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
          </ul>
          <!-- Left links -->

          <div class="d-flex align-items-center">
              <!-- <a type="button" class="btn btn-link px-3 me-2" routerLink="login">
                  Login
              </a> -->
              <a type="button" class="btn btn-primary me-3">
                  Login
              </a>
              <a type="button" class="btn btn-primary me-3">
                  LogOut
              </a>

          </div>
      </div>
      <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<router-outlet></router-outlet>
<lib-ng-toast></lib-ng-toast>
